/* 🇧🇩 বাংলা ফন্ট রেজিস্টার */
@font-face {
    font-family: 'MyBanglaFont';
    src: url('fonts/bangla.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 🇬🇧 ইংলিশ ফন্ট রেজিস্টার */
@font-face {
    font-family: 'MyEnglishFont';
    src: url('fonts/english.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 🌍 পুরো ওয়েবসাইটে ফন্ট অ্যাপ্লাই */
body {
    background-color: #f4f4f6;
    -webkit-tap-highlight-color: transparent;
    font-family: 'MyBanglaFont', 'MyEnglishFont', -apple-system, sans-serif !important;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

body {
    background-color: #f4f4f6;
    -webkit-tap-highlight-color: transparent;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}