body {
    background-color: #f4f4f6;
    -webkit-tap-highlight-color: transparent;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}